/* CALENDAR STYLE */
/* BEGIN */
ul {
    list-style-type: none;
}

.monthContainer {
    display: inline-block;
    vertical-align: top;
    width: 12em;
}

.month {
    padding: 0.1rem;
    background: #35ade1;
}

.headerYear {
    font-size: 18px;
}

.month ul li {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: -2.3rem;
}

.weekdays {
    margin: 0;
    padding: 7px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    font-size: 12px;
    width: 13.6%;
    color: #333;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    height: 9.5em;
}

.days li {
    display: inline-block;
    width: 13.6%;
    font-size: 13px;
    color: #333;
    padding-top: .3vw;
    padding-bottom: .3vw;
}
/* END */

/* TEXT STYLE */
/* BEGIN */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    color: white;
    font-weight: bold;
    background-color: #333;
    margin: 0;
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    color: #35ade1;
    font-weight: bold;
}
/* END */

/* FOOTER STYLE */
/* BEGIN */
footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #33729d;
    font-family: 'Verdana', 'sans-serif';
    width: 100%;
    padding: 0.2em;
    text-align: center;
    font-size: 1rem;
}

footer > a {
    border-bottom: 2px dashed #35ade1;
}

footer > a:hover {
    border-bottom: 2px dashed red;
}
/* END */

/** CALENDAR BORDER **/
/* English generation */
.days .selected {
    width: calc(13.6% - 10px);
}

.selected {
    border: 5px solid;
}

.EN {
    border-color: red;
}

/* Japanese generation */
.JP, .GAMERS {
    border-color: cyan;
}

/* Indonesian generation */
.ID {
    border-color: grey;
}

/* Chinese generation */
.CN {
    border-color:orange;
}

/* Holostars */
.HOLOSTARS {
    border-color: green;
}
