/* CALENDAR STYLE */
/* BEGIN */
ul {
    list-style-type: none;
}

.monthContainer {
    display: inline-block;
}

.month {
    vertical-align: middle;
    padding: 0.3rem;
    background: #35ade1;
    text-align: center;
}

.headerYear {
    font-size: 18px;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: -2.3rem;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
}

.weekdays li {
    display: inline-block;
    font-size: 1.1rem;
    width: 13.6%;
    color: #333;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    display: inline-block;
    width: 13.6%;
    font-size: 5rem;
    text-align: center;
    margin-bottom: 5px;
    font-size: 13px;
    color: #333;
}
/* END */

/* DIV STYLE */
/* BEGIN */
div {
}
/* END */


/* TEXT STYLE */
/* BEGIN */
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    font-weight: bold;
    background-color: #333;
    margin: 0;
    text-align: center;

}

label {
    font-size: 1.5rem;
    color: #676767;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    color: #35ade1;
    font-weight: bold;
}
/* END */

/* FOOTER STYLE */
/* BEGIN */
footer {
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: #33729d;
    font-family: 'Verdana', 'sans-serif';
    width: 100%;
    padding: .7em;
    text-align: center;
}
/* END */

/** CALENDAR BORDER **/
/* English generation */
.EN {
    border: 5px solid red;
}

/* Japanese generation */
.JP {
    border: 5px solid cyan;
}
